<p>roles works!</p>
<div class="row">
    <div class="col-3">
        <p>{{firstName}}</p>

    </div>
    <div class="col-3">
        <p>{{angularVersion}}</p>

    </div>
    <div class="col-3">
        <p>{{currentDate}}</p>
    </div>
    <div class="col-3">
        {{selectedState}}
    </div>
</div>
<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form-control" />
    </div>
    <div class="col-3">
        <input [type] = "inputType" />
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName"/>
    </div>
    <div class="col-3">
        <select [(ngModel)]="selectedState">
            <option value="NBO">Nairobi</option>
            <option value="KIS">Kisumu</option>
            <option value="MBO">Mombasa</option>
        </select>


    </div>
</div>




